EjericioRolesWS/xml-resources/web-service-references/WSRoles/wsdl/148.204.56.120_8080/RolesWS/WSRoles.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.darkdestiny.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.darkdestiny.com/" name="WSRoles">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.darkdestiny.com/" schemaLocation="http://148.204.56.120:8080/RolesWS/WSRoles?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarRolConDto">
<part name="parameters" element="tns:insertarRolConDto"/>
</message>
<message name="insertarRolConDtoResponse">
<part name="parameters" element="tns:insertarRolConDtoResponse"/>
</message>
<message name="listaDeRoles">
<part name="parameters" element="tns:listaDeRoles"/>
</message>
<message name="listaDeRolesResponse">
<part name="parameters" element="tns:listaDeRolesResponse"/>
</message>
<message name="eliminarRolConDto">
<part name="parameters" element="tns:eliminarRolConDto"/>
</message>
<message name="eliminarRolConDtoResponse">
<part name="parameters" element="tns:eliminarRolConDtoResponse"/>
</message>
<message name="buscarRolConDto">
<part name="parameters" element="tns:buscarRolConDto"/>
</message>
<message name="buscarRolConDtoResponse">
<part name="parameters" element="tns:buscarRolConDtoResponse"/>
</message>
<message name="actualizarRolConDto">
<part name="parameters" element="tns:actualizarRolConDto"/>
</message>
<message name="actualizarRolConDtoResponse">
<part name="parameters" element="tns:actualizarRolConDtoResponse"/>
</message>
<portType name="WSRoles">
<operation name="insertarRolConDto">
<input wsam:Action="http://ws.darkdestiny.com/WSRoles/insertarRolConDtoRequest" message="tns:insertarRolConDto"/>
<output wsam:Action="http://ws.darkdestiny.com/WSRoles/insertarRolConDtoResponse" message="tns:insertarRolConDtoResponse"/>
</operation>
<operation name="listaDeRoles">
<input wsam:Action="http://ws.darkdestiny.com/WSRoles/listaDeRolesRequest" message="tns:listaDeRoles"/>
<output wsam:Action="http://ws.darkdestiny.com/WSRoles/listaDeRolesResponse" message="tns:listaDeRolesResponse"/>
</operation>
<operation name="eliminarRolConDto">
<input wsam:Action="http://ws.darkdestiny.com/WSRoles/eliminarRolConDtoRequest" message="tns:eliminarRolConDto"/>
<output wsam:Action="http://ws.darkdestiny.com/WSRoles/eliminarRolConDtoResponse" message="tns:eliminarRolConDtoResponse"/>
</operation>
<operation name="buscarRolConDto">
<input wsam:Action="http://ws.darkdestiny.com/WSRoles/buscarRolConDtoRequest" message="tns:buscarRolConDto"/>
<output wsam:Action="http://ws.darkdestiny.com/WSRoles/buscarRolConDtoResponse" message="tns:buscarRolConDtoResponse"/>
</operation>
<operation name="actualizarRolConDto">
<input wsam:Action="http://ws.darkdestiny.com/WSRoles/actualizarRolConDtoRequest" message="tns:actualizarRolConDto"/>
<output wsam:Action="http://ws.darkdestiny.com/WSRoles/actualizarRolConDtoResponse" message="tns:actualizarRolConDtoResponse"/>
</operation>
</portType>
<binding name="WSRolesPortBinding" type="tns:WSRoles">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarRolConDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDeRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRolConDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRolConDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarRolConDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSRoles">
<port name="WSRolesPort" binding="tns:WSRolesPortBinding">
<soap:address location="http://148.204.56.120:8080/RolesWS/WSRoles"/>
</port>
</service>
</definitions>