EjericioRolesWS/xml-resources/web-service-references/WSRoles/wsdl/148.204.56.120_8080/RolesWS/WSRoles.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.darkdestiny.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.darkdestiny.com/">

<xs:element name="actualizarRolConDto" type="tns:actualizarRolConDto"/>

<xs:element name="actualizarRolConDtoResponse" type="tns:actualizarRolConDtoResponse"/>

<xs:element name="buscarRolConDto" type="tns:buscarRolConDto"/>

<xs:element name="buscarRolConDtoResponse" type="tns:buscarRolConDtoResponse"/>

<xs:element name="eliminarRolConDto" type="tns:eliminarRolConDto"/>

<xs:element name="eliminarRolConDtoResponse" type="tns:eliminarRolConDtoResponse"/>

<xs:element name="insertarRolConDto" type="tns:insertarRolConDto"/>

<xs:element name="insertarRolConDtoResponse" type="tns:insertarRolConDtoResponse"/>

<xs:element name="listaDeRoles" type="tns:listaDeRoles"/>

<xs:element name="listaDeRolesResponse" type="tns:listaDeRolesResponse"/>

<xs:complexType name="actualizarRolConDto">
<xs:sequence>
<xs:element name="dto" type="tns:rolesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rolesDTO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarRolConDtoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminarRolConDto">
<xs:sequence>
<xs:element name="dto" type="tns:rolesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRolConDtoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertarRolConDto">
<xs:sequence>
<xs:element name="dto" type="tns:rolesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRolConDtoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaDeRoles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaDeRolesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRolConDto">
<xs:sequence>
<xs:element name="dto" type="tns:rolesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRolConDtoResponse">
<xs:sequence>
<xs:element name="return" type="tns:rolesDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>