Ejercicio SOAP/EjercicioAlumno/web/WEB-INF/wsdl/localhost_8080/AlumnoWS/AlumnoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alumno.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alumno.me.org/" name="AlumnoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://alumno.me.org/" schemaLocation="http://localhost:8080/AlumnoWS/AlumnoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listAlumno">
<part name="parameters" element="tns:listAlumno"/>
</message>
<message name="listAlumnoResponse">
<part name="parameters" element="tns:listAlumnoResponse"/>
</message>
<message name="deleteMateria">
<part name="parameters" element="tns:deleteMateria"/>
</message>
<message name="deleteMateriaResponse">
<part name="parameters" element="tns:deleteMateriaResponse"/>
</message>
<message name="deleteAlumno">
<part name="parameters" element="tns:deleteAlumno"/>
</message>
<message name="deleteAlumnoResponse">
<part name="parameters" element="tns:deleteAlumnoResponse"/>
</message>
<message name="listMateria">
<part name="parameters" element="tns:listMateria"/>
</message>
<message name="listMateriaResponse">
<part name="parameters" element="tns:listMateriaResponse"/>
</message>
<message name="createAlumno">
<part name="parameters" element="tns:createAlumno"/>
</message>
<message name="createAlumnoResponse">
<part name="parameters" element="tns:createAlumnoResponse"/>
</message>
<message name="updateAlumno">
<part name="parameters" element="tns:updateAlumno"/>
</message>
<message name="updateAlumnoResponse">
<part name="parameters" element="tns:updateAlumnoResponse"/>
</message>
<message name="createMateria">
<part name="parameters" element="tns:createMateria"/>
</message>
<message name="createMateriaResponse">
<part name="parameters" element="tns:createMateriaResponse"/>
</message>
<message name="updateMateria">
<part name="parameters" element="tns:updateMateria"/>
</message>
<message name="updateMateriaResponse">
<part name="parameters" element="tns:updateMateriaResponse"/>
</message>
<message name="findAlumno">
<part name="parameters" element="tns:findAlumno"/>
</message>
<message name="findAlumnoResponse">
<part name="parameters" element="tns:findAlumnoResponse"/>
</message>
<portType name="AlumnoWS">
<operation name="listAlumno">
<input wsam:Action="http://alumno.me.org/AlumnoWS/listAlumnoRequest" message="tns:listAlumno"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/listAlumnoResponse" message="tns:listAlumnoResponse"/>
</operation>
<operation name="deleteMateria">
<input wsam:Action="http://alumno.me.org/AlumnoWS/deleteMateriaRequest" message="tns:deleteMateria"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/deleteMateriaResponse" message="tns:deleteMateriaResponse"/>
</operation>
<operation name="deleteAlumno">
<input wsam:Action="http://alumno.me.org/AlumnoWS/deleteAlumnoRequest" message="tns:deleteAlumno"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/deleteAlumnoResponse" message="tns:deleteAlumnoResponse"/>
</operation>
<operation name="listMateria">
<input wsam:Action="http://alumno.me.org/AlumnoWS/listMateriaRequest" message="tns:listMateria"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/listMateriaResponse" message="tns:listMateriaResponse"/>
</operation>
<operation name="createAlumno">
<input wsam:Action="http://alumno.me.org/AlumnoWS/createAlumnoRequest" message="tns:createAlumno"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/createAlumnoResponse" message="tns:createAlumnoResponse"/>
</operation>
<operation name="updateAlumno">
<input wsam:Action="http://alumno.me.org/AlumnoWS/updateAlumnoRequest" message="tns:updateAlumno"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/updateAlumnoResponse" message="tns:updateAlumnoResponse"/>
</operation>
<operation name="createMateria">
<input wsam:Action="http://alumno.me.org/AlumnoWS/createMateriaRequest" message="tns:createMateria"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/createMateriaResponse" message="tns:createMateriaResponse"/>
</operation>
<operation name="updateMateria">
<input wsam:Action="http://alumno.me.org/AlumnoWS/updateMateriaRequest" message="tns:updateMateria"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/updateMateriaResponse" message="tns:updateMateriaResponse"/>
</operation>
<operation name="findAlumno">
<input wsam:Action="http://alumno.me.org/AlumnoWS/findAlumnoRequest" message="tns:findAlumno"/>
<output wsam:Action="http://alumno.me.org/AlumnoWS/findAlumnoResponse" message="tns:findAlumnoResponse"/>
</operation>
</portType>
<binding name="AlumnoWSPortBinding" type="tns:AlumnoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlumnoWS">
<port name="AlumnoWSPort" binding="tns:AlumnoWSPortBinding">
<soap:address location="http://localhost:8080/AlumnoWS/AlumnoWS"/>
</port>
</service>
</definitions>